<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear text-center">
                               Deal Value Admin
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    DV
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.dashboard"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.customers"><i class="fa fa-desktop"></i> <span class="nav-label">Customers</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.news"><i class="fa fa-desktop"></i> <span class="nav-label">News</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.sectors"><i class="fa fa-desktop"></i> <span class="nav-label">Business Sectors</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.testimonials"><i class="fa fa-desktop"></i> <span class="nav-label">Testimonials</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.faqs"><i class="fa fa-desktop"></i> <span class="nav-label">FAQ's</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.reasons"><i class="fa fa-desktop"></i> <span class="nav-label">Reason for valuation</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.users"><i class="fa fa-desktop"></i> <span class="nav-label">Users</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.customers"><i class="fa fa-desktop"></i> <span class="nav-label">Customers</span></a>
            </li>
        </ul>

    </div>
</nav>